.form {
    width:40rem;
  margin: 2rem auto;
  text-align: center;
}



.label {
    text-transform:uppercase ;
  
  margin: 1rem auto;
  font-size: 2.5rem;
  font-weight: 600;
}
.input {
    display: block;
    width: 100%;
    font: inherit;
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 5px;
    background-color: #a5d3ff;
    border: none;
    border-bottom: 3px solid rgba(17, 17, 17, 0.188);
  
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0.5rem;
  
}
.btn {
  display: block;
  border: none;
  border-radius: 1.5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  background-color: #1e90ff;
  margin: 1rem auto;
}
